@font-face { font-family: EnlightenYourDestiny; src: url('../fonts/Enlighten your Destiny.ttf'); }
@font-face { font-family: AntiPasto; src: url('../fonts/Antipasto-RegularTrial.ttf'); }
@font-face { font-family: JustTellMeWhat; src: url('../fonts/Just tell me what regular (Version 2).otf'); }
@font-face { font-family: Cabin; src: url('../fonts/Cabin-Regular.ttf'); }
@font-face { font-family: Cabin; src: url('../fonts/Cabin-Bold.ttf'); font-weight: bold; }

.hidden {
  transform: translate(0, 10px);
  opacity: 0;
}

p {
  font-family: cabin;
  line-height: 1.75rem;
  font-size: 1.25rem;
}

a {
  text-decoration: none;
}

highlight {
  border-radius: 2px;
  padding: 0 5px;
  background: #00ABE9;
  color: white;
}

#hero {
  background-image: linear-gradient(#00ABE9, #00C5E9);
  background-size:cover;
	overflow: hidden;
  position:relative;
  height: 100vh;
  width: 100%;
  min-height: 300px;
}

#landing-text {
  z-index: 1;
  position: relative;
	text-align: center;
	color: white;
	line-height: 3rem;
	margin-top: 40vh;
}

#name {
	font-family: EnlightenYourDestiny;
	font-size: 12rem;
}

h1 {
	font-size: 2rem;
	font-family: AntiPasto;
	letter-spacing: 0.1rem;
}

.bullet {
	font-size: 3rem;
}

@media only screen and (max-width: 750px) {
  #name {
    font-size: 8.5rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  .bullet {
  	font-size: 2rem;
  }
}

@media only screen and (max-width: 500px) {
  #name {
    font-size: 5rem;
  }

  h1 {
    font-size: 1rem;
  }

  .bullet {
    font-size: 1.5rem;
  }
}

#menu-button {
  z-index: 100;
	position: fixed;
	top: 10px;
	right: 10px;
	cursor: pointer;
	height: 120px;
	width: 120px;
	background: url(../images/svg/cloud.svg) no-repeat;
}

nav .row {
  z-index: 199;
  width: 80px;
  height: 80px;
  position: fixed;
  top: 20px;
  right: 20px;
  overflow: hidden;
  transition: all 1s cubic-bezier(.23,1,.32,1);
}

nav .row:hover {
  width: 500px;
}

#bg-bottom {
  position: absolute;
  bottom: 0;
  height: auto;
  width: 100%;
}

#menu-button {
  transition: all 1s cubic-bezier(.23,1,.32,1);
}

#hero ul {
  border: #00ABE9 solid 1px;
  display: block;
  background-color: white;
  border-radius: 5px;
  height: 35px;
  margin-top: 30px;
  margin-right: 60px;
  overflow: hidden;
}

#hero li {
  white-space: nowrap;
  display: inline-block;
  margin-top: 5px;
  padding: 5px 25px;
}

#hero li a {
  cursor: pointer;
  font-size: 1.25rem;
  color: #00ABE9;
  font-family: AntiPasto;
  letter-spacing: 0.07rem;
}

#hero li a:hover {
  transition: all 1s cubic-bezier(.23,1,.32,1);
  color: grey;
}

@media only screen and (max-width: 500px) {
  #menu-button {
    display: none;
  }

  #hero ul {
    border: none;
    border-top: #00ABE9 solid 1px;
    border-bottom: #00ABE9 solid 1px;
    text-align: center;
    border-radius: 0px;
    width: 100%;
    margin-top: 0;
  }

  nav .row {
    width: 100%;
    right: 0;
    top: 20px;
  }

  nav .row:hover {
    width: 100%;
  }
}

/* ---  ABOUT ME PORTION OF CSS --- */

#about {
  position: relative;
  background-color: white;
  min-height: 750px;
  width: 100%;
  padding-bottom: 50px;
}

.title h1 {
  font-size: 4rem;
  font-family: JustTellMeWhat;
}

.me-container {
  transition: all 1s cubic-bezier(.23,1,.32,1);
  position: relative;
  padding-top: 25px;
}

.thats-me {
  transition: all 1s cubic-bezier(.23,1,.32,1);
  position: absolute;
  width: 100px;
  top: 100px;
  left: 300px;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

.me-container img {
  border-radius: 50%;
  height: auto;
  max-width: 200px;
  margin-top: 5vh;
  margin: auto;
  display: block;
}

.text-container .title {
  transition: all 1s cubic-bezier(.23,1,.32,1);
  text-align: center;
}

.description {
  margin: 0 15%;
  margin-top: 4vh;
}

.description p {
  transition: all 1s cubic-bezier(.23,1,.32,1);
}

.description .sub-title {
  transition: all 1s cubic-bezier(.23,1,.32,1);
  font-family: JustTellMeWhat;
  font-weight: bold;
  font-size: 2rem;
  padding: 2rem 0 0.3rem 0;
}

.cv-button {
  transition: all 1s cubic-bezier(.23,1,.32,1);
  margin-top: 50px;
  text-align: center;
}

.cv-button a {
  transition: all 1s cubic-bezier(.23,1,.32,1);
  padding: 15px 40px;
  border: 1px solid white;
  border-radius: 10px;
  background: #00ABE9;
  color: white;
  font-size: 1.25rem;
  text-decoration: none;
  font-family: cabin;
}

.cv-button a:hover {
  color: #00ABE9;
  background: white;
  border-color: #00ABE9;
}

@media only screen and (max-width: 520px) {
  #uglypic {
    width: 100px;
  }

  .thats-me {
    top: 50px;
    left: 175px;
    width: 75px;
  }

  .title h1 {
    font-size: 2.5rem;
  }

  .description {
    margin: 0 5%;
    margin-top: 4vh;
  }

  .description p {
    font-size: 1rem;
  }

  .sub-title {
    font-size: 1.5rem;
  }

  .cv-button a {
    padding: 10px 20px;
    font-size: 1rem;
  }
}

/* --- WORK PORTION OF CSS --- */

.work-container {
  text-align: center;
  margin: 0 4%;
  padding-top: 10vh;
}

.work-container .title {
  transition: all 1s cubic-bezier(.23,1,.32,1);
  font-family: JustTellMeWhat;
  padding-top: 1vh;
  padding-bottom: 1vh;
}

.work-container .title h1 {
  font-size: 4rem;
}

.item {
  transition: all 1s cubic-bezier(.23,1,.32,1);
  cursor: pointer;
  position: relative;
  border-radius: 5px;
  margin: 10px;
  background: blue;
  display: inline-block;
  width: 35vw;
  height: 20vw;
  min-width: 250px;
  min-height: 137px;
}

.item span {
  transition: all 1s cubic-bezier(.23,1,.32,1);
  height: 100%;
  display: inline-flex;
  align-items: center;
  font-family: AntiPasto;
}

.table {
  display:table;
  width:100%; height:100%;
  position:absolute;
}

#eamonn {
  background: url('../images/eamonn.png') no-repeat;
  background-size: cover;
  overflow: hidden;
}

#pacman {
  background: url('../images/pacman.png') no-repeat;
  background-size: cover;
  overflow: hidden;
}

#annocell {
  background: url('../images/annoCell.png') no-repeat;
  background-size: cover;
  overflow: hidden;
}

.project-text {
  transition: all 1s cubic-bezier(.23,1,.32,1);
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  width:auto;
  height:auto;
  z-index:100;
  color: white;
}

.project-bg {
  transition: all 1s cubic-bezier(.23,1,.32,1);
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 100%;
  background: rgba(0, 171, 233, 0.6);
  z-index: 0;
}

.project-title {
  position: relative;
  opacity: 0;
  padding-left: 50px;
  z-index: 2;
  font-size: 4rem;
}

.project-desc {
  position: relative;
  font-size: 1.5rem;
  padding-top: 10px;
  opacity: 0;
  padding-left: 50px;
  z-index: 2;
}

.line {
  transition: all 1s cubic-bezier(.23,1,.32,1);
  position: relative;
  margin: 0 auto;
  height: 3px;
  border: none;
  background: white;
  width: 0;
  z-index: 2;
}

@media only screen and (max-width: 1000px) {
  .project-title {
    font-size: 2rem;
  }

  .project-desc {
    font-size: 0.85rem;
  }
}

/* --- CONTACT PORTION OF CSS --- */

#contact {
  height: 60vh;
  min-height: 500px;
  width: 100%;
}

#contact h1 {
  transition: all 1s cubic-bezier(.23,1,.32,1);
  font-family: JustTellMeWhat;
  font-size: 3rem;
  padding-bottom: 5vh;
}

.contact-container {
  position: relative;
  height: 100%;
  width: 100%;
}

.contact-row {
  position: absolute;
  width: 100%;
  top: 45%;
  text-align: center;
}

.contact-buttons {
  transition: all 1s cubic-bezier(.23,1,.32,1);
}

.media {
  position: relative;
  overflow: hidden;
  display: inline-block;
  height: 72px;
  width: 72px;
  margin: 0 10px;
  border-radius: 3px;
}

.media a {
  display: block;
  position: absolute;
  height: 72px;
  width: 72px;
}

#linkedin {
  background: url(../images/Linkedin.png) no-repeat;
  background-size: cover;
}

#email {
  background: url(../images/Email.png) no-repeat;
  background-size: cover;
}

#github {
  background: url(../images/Github.png) no-repeat;
  background-size: cover;
}

.bar {
  transition: all 1s cubic-bezier(.23,1,.32,1);
  position: absolute;
  height:10px;
  width: 72px;
  margin-top: -10px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}

#linkedin-bar {
  background-color: #0077B5;
}

#github-bar {
  background-color: #993399;
}

#email-bar {
  background-color: #42a503;
}

@media only screen and (max-width: 500px) {
  #contact h1 {
    font-size: 2rem;
  }

  .media {
    height: 50px;
    width: 50px;
  }
}

/* ---  LOADING SCREEN PORTION OF CSS --- */

#loading {
  overflow: hidden;
  background-image: linear-gradient(#00ABE9, #00C5E9);
  display: flex;
  align-items: center;
  background-color: none;
  position: absolute;
  height: 100vh;
  width: 100%;
  z-index: 50;
}

#loading svg {
  position: absolute;
  margin: 0 auto;
  display: block;
  height: 100vh;
  width: 100%;
}

#path2993 {
  stroke-dasharray: 50;
  animation: dash 2.5s linear infinite;
}

@keyframes dash {
  to {
    stroke-dashoffset: 1000;
  }
}

#loaded {
  display: none;
}

/* --- FOOTER PORTION OF CSS --- */

footer {
  background: #00C5E9;
  width: 30%;
  border-top-left-radius: 100vw;
  border-top-right-radius: 100vw;
  text-align: center;
  margin: auto;
}

.footer-container {
  margin-top: 50px;
}

#madeby-me {
  color: white;
  font-family: EnlightenYourDestiny;
  font-size: 6rem;
}

/* --- CLOUDS PORTION OF CSS --- */

.clouds {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
}

/* CLOUD KEYFRAMES */

@-webkit-keyframes animateCloud {
    0% {
        margin-left: -1200px;
    }
    100% {
        margin-left: 100%;
    }
}

@-moz-keyframes animateCloud {
    0% {
        margin-left: -1200px;
    }
    100% {
        margin-left: 100%;
    }
}

@keyframes animateCloud {
    0% {
        margin-left: -1200px;
    }
    100% {
        margin-left: 100%;
    }
}

/* CLOUD SPEED AND SCALE */

.cloudPath1 {
	-webkit-animation: animateCloud 15s linear infinite;
	-moz-animation: animateCloud 15s linear infinite;
	animation: animateCloud 15s linear infinite;

	-webkit-transform: scale(0.65);
	-moz-transform: scale(0.65);
	transform: scale(0.65);
}

.cloudPath2 {
	-webkit-animation: animateCloud 25s linear infinite;
	-moz-animation: animateCloud 25s linear infinite;
	animation: animateCloud 25s linear infinite;

	-webkit-transform: scale(1.0);
	-moz-transform: scale(1.0);
	transform: scale(1.0);
}

.cloud2 {
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	transform: rotate(10deg);
}

.cloudPath3 {
	-webkit-animation: animateCloud 7s linear infinite;
	-moz-animation: animateCloud 7s linear infinite;
	animation: animateCloud 7s linear infinite;

	-webkit-transform: scale(0.3);
	-moz-transform: scale(0.3);
	transform: scale(0.3);
}

.cloud3 {
	-webkit-transform: rotate(-20deg);
	-moz-transform: rotate(-20deg);
	transform: rotate(-20deg);
}

.cloudPath4 {
	-webkit-animation: animateCloud 18s linear infinite;
	-moz-animation: animateCloud 18s linear infinite;
	animation: animateCloud 18s linear infinite;

	-webkit-transform: scale(0.75);
	-moz-transform: scale(0.75);
	transform: scale(0.75);
}

.cloudPath5 {
	-webkit-animation: animateCloud 12s linear infinite;
	-moz-animation: animateCloud 12s linear infinite;
	animation: animateCloud 12s linear infinite;

	-webkit-transform: scale(0.55);
	-moz-transform: scale(0.55);
	transform: scale(0.55);
}

.cloud5 {
	-webkit-transform: rotate(10deg);
	-moz-transform: rotate(10deg);
	transform: rotate(10deg);
}

.cloudPath6 {
	-webkit-animation: animateCloud 20s linear infinite;
	-moz-animation: animateCloud 20s linear infinite;
	animation: animateCloud 20s linear infinite;

	-webkit-transform: scale(0.8);
	-moz-transform: scale(0.8);
	transform: scale(0.8);
}

.cloud6 {
	-webkit-transform: rotate(-10deg);
	-moz-transform: rotate(-10deg);
	transform: rotate(-10deg);
}

.cloudPath7 {
	-webkit-animation: animateCloud 9s linear infinite;
	-moz-animation: animateCloud 9s linear infinite;
	animation: animateCloud 9s linear infinite;

	-webkit-transform: scale(0.4);
	-moz-transform: scale(0.4);
	transform: scale(0.4);
}

.cloud7 {
	-webkit-transform: rotate(15deg);
	-moz-transform: rotate(15deg);
	transform: rotate(15deg);
}
